# строки начинающиеся на # - это комментарии, они не учитываются
.vscode/*
*.code-workspace
Pro Git - Скотт Шакон, 2012.pdf
app-test-exception.js
app-test-ClaccExportsA.js
app-test-ClaccExportsB.js
app-test-exports_1.js
app-test-exports_2.js